/*
    -----------------------------------------------------------------
    ----------  /udemy.antonydev.tech/  -----------------------------
    ----------  /cursos/  -------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  ----------
    ----------  /src/styles/layout/  --------------------------------
    ----------  /layout-navbar.css  ---------------------------------
    -----------------------------------------------------------------
*/


/*  
    --------------------------------------------------------
    -----  Colores base para el background del navbar  -----
    --------------------------------------------------------  
*/

:root {
    --bg: #EAF1FD;
    /* color de fondo sólido */
    --grid: #e5e7eb;
    /* gris de las líneas (Tailwind gray-200) */
}


/*  
    ------------------------------------------
    -----  Contenedor del menú (navbar)  -----
    ------------------------------------------  
*/

.layout__navbar {
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: center;
    /* align-self:flex-start; */
    position: absolute;
    top: 8.5rem;
    /* width: 100%; */
    z-index: 10000;
}

/* @media (min-width: 768px) {

    .navbar__container {
        position: relative;
        margin-top: -10.5rem;
        width: 50%;
    }
} */


/*  
    ----------------------------
    -----  Menú principal  -----  
    ----------------------------
*/

.navbar__container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
    /* overflow-y: hidden; */
 

    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


/*
    ------------------------------------------------------
    -----  Botón Hamburguesa Open del menú (navbar)  -----
    ------------------------------------------------------   
*/

.navbar__btn-open {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
    background-color: #036AAD;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* display: none; */

    &:hover {
        transition: all 300ms ease-in-out;
        transform: scale(1.1);
    }
}

.btn__icon-open {
    display: flex;
    width: 2rem;
    height: 0.2rem;
    background-color: white;
}


/*
    -------------------------------------------------------
    -----  Botón Hamburguesa Close del menú (navbar)  -----
    -------------------------------------------------------   
*/

.navbar__btn-close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
    background-color: #036AAD;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* display: none; */
}

.navbar__btn-close:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.btn__icon-close {
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: white;
}

.btn__icon-close:first-child {
    transform: rotate(45deg);
}

.btn__icon-close:last-child {
    transform: rotate(-45deg);
}





/*
    --------------------------------------
    -----  Título del menú (navbar)  -----
    --------------------------------------
*/

.navbar__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: #F7E7C0;
    background-image:
        linear-gradient(to right, #e5e7eb 1px, transparent 1px),
        linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
    background-size: 40px 40px;

    box-shadow: 10px 10px 10px rgb(209, 220, 235);
}

.navbar__logo-typescript,
.navbar__logo-javascript {
    width: 3rem;
    height: 3rem;
}

.navbar__title h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #036AAD;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*
    ---------------------------------------------
    -----  Lista e Items del menú (navbar)  -----
    ---------------------------------------------
*/

.navbar__list {
    width: 30rem;
    /* height: 50rem; */
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    margin-bottom: 3rem;
}

.navbar__item {
    width: 100%;
    padding: 0 2rem;
}

.navbar__item a {
    position: relative;
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #7096e5;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.navbar__item a:hover {
    margin-left: 2rem;
    background-color: #3b82f6;
}
