/*
    -----------------------------------------------------------------
    ----------  /udemy.antonydev.tech/  -----------------------------
    ----------  /cursos/  -------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  ----------
    ----------  /src/styles/layout/  --------------------------------
    ----------  /layout-header.css  ---------------------------------
    -----------------------------------------------------------------
*/


.layout__header {
    min-width: 100%;
    display: flex;
}

.header__container {
    width: 100%;
    /* height: 10rem; */
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to left, rgb(189, 220, 230) 20%, rgb(133, 157, 189) 40%, rgb(100, 143, 230) 60%, rgb(197, 201, 221) 80%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.header__logo-typescript,
.header__logo-javascript {
    width: 4rem;
    height: 4rem;
}

.header__logo-typescript:hover,
.header__logo-javascript:hover {
    transform: scale(1.1);
}

.header__title {
    width: 102.4rem;
    font-size: 2rem;
    color: #E6EBF1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
