/*
    -----------------------------------------------------------------
    ----------  /udemy.antonydev.tech/  -----------------------------
    ----------  /cursos/  -------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  ----------
    ----------  /src/styles/layout/  --------------------------------
    ----------  /view-transition.css  -------------------------------
    -----------------------------------------------------------------
*/


@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 1000ms;
}