<!--  
    -----------------------------------------------------------------
    ----------  /udemy.antonydev.tech/ ------------------------------
    ----------  /cursos/  -------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  ----------
    ----------  /src/components/layouts/  ---------------------------
    ----------  /layout-navbar.html  --------------------------------
    -----------------------------------------------------------------
-->



<!--  ----------  NAVBAR  ----------  -->
<div class="navbar__container">



    <!--  -----  Lista del menú (HOME)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title">

            <!--  -----  Logo de typescript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img 
                    class="navbar__logo-typescript"
                    src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/typescript-logo.svg" 
                    alt="Logo TypeScript"
                >
            </a>

            <h3> 
                HOME 
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="navbar__logo-javascript"
                    src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/javascript-logo.svg"
                    alt="Logo JavaScript"
                >
            </a>

        </div>


        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home">
                Home
            </a>
        </li>

    </ul>



    <!--  -----  Lista del menú (Bases de TypeScript - 1. Introducción)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title">

            <!--  -----  Logo de TypeScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img 
                    class="navbar__logo-typescript"
                    src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/typescript-logo.svg" 
                    alt="Logo TypeScript"
                >
            </a>

            <h3> 
                Bases de TypeScript 
                <br>
                1 - Introducción
            </h3>

           <!--  -----  Logo de JavaScript -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="navbar__logo-javascript"
                    src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/javascript-logo.svg"
                    alt="Logo JavaScript"
                >
            </a>

        </div>
       
        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="inferirTipos">
                1 - Inferir Tipos
            </a>
        </li>

    </ul>



    <!--  -----  Lista del menú (Bases de TypeScript - 2. Tipos de Datos)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title">

            <!--  -----  Logo de TypeScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img 
                    class="navbar__logo-typescript"
                    src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/typescript-logo.svg" 
                    alt="Logo TypeScript"
                >
            </a>

            <h3> 
                Bases de TypeScript 
                <br>
                2 - Tipos de Datos
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="https://javascript.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="navbar__logo-javascript"
                    src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/javascript-logo.svg"
                    alt="Logo JavaScript"
                >
            </a>

        </div>


        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="booleans">
                1 - Booleans
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="numbers">
                2 - Numbers
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="strings">
                3 - Strings
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="any">
                4 - Any
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="arrays">
                5 - Arrays
            </a>
        </li>

         <!--  -----  item 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="tuples">
                6 - Tuples
            </a>
        </li>

        <!--  -----  item 7  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="enums">
                7 - Enums
            </a>
        </li>

        <!--  -----  item 8  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="void">
                8 - Void
            </a>
        </li>

        <!--  -----  item 9  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="never">
                9 - Never
            </a>
        </li>

        <!--  -----  item 10  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="nullUndefined">
                10 - Null & Undefined
            </a>
        </li>

         <!--  -----  item 11  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="tareaTiposDatos">
                11 - Tarea
            </a>
        </li>
              

    </ul>


</div>