<!--  
    -----------------------------------------------------------------
    ----------  /udemy.antonydev.tech/ ------------------------------
    ----------  /cursos/  -------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  ----------
    ----------  /src/components/layouts/  ---------------------------
    ----------  /layout-header.html  --------------------------------
    -----------------------------------------------------------------
-->



<!--  ----------  Header  ----------  -->
<div class="header__container">

    <!--  -----  Botón del Menú Hamburguesa de Navegación Open -----  -->
    <div class="navbar__btn-open">
        <div class="btn__icon-open"> </div>
        <div class="btn__icon-open"> </div>
        <div class="btn__icon-open"> </div>
    </div>

    <!--  -----  Botón del Menú Hamburguesa de Navegación Close -----  -->
    <div class="navbar__btn-close">
        <div class="btn__icon-close"> </div>
        <div class="btn__icon-close"> </div>
    </div>

    <!--  -----  Logo TypeScript y enlace a la página oficial de TypeScript -----  -->
    <a href="https://www.typescriptlang.org/" target="_blank">
        <img 
            class="header__logo-typescript" 
            src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/typescript-logo.svg" 
            alt="Logo TypeScript"
        >
    </a>
    
    <!--  -----  Título del Header -----  -->
    <h1 class="header__title">

        <p id="headerTitle"> 
            <!--  *****  renderizado del título con el plugin  *****  -->
        </p>

    </h1>
   
    <!--  -----  Logo JavaScript y enlace a la página MDN de JavaScript -----  -->
    <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">
        <img 
            class="header__logo-javascript" 
            src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/javascript-logo.svg"
            alt="Logo JavaScript"
        >
    </a>
    

</div>