<!--  
    -----------------------------------------------------------------
    ----------  /udemy.antonydev.tech/ ------------------------------
    ----------  /cursos/  -------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  ----------
    ----------  /src/components/layouts/  ---------------------------
    ----------  /layout-footer.html  --------------------------------
    -----------------------------------------------------------------
-->



<!--  ----------  Footer  ----------  -->
<footer class="footer__container">

    
    <header class="footer__header">
        
        <img 
            class="header__logo-typescript"
            src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/typescript-logo.svg" 
            alt="Logo TypeScript"
        >
        
        <h2 class="footer__title"> 
             
            <p id="footerTitle"> 
                <!--  *****  renderizado del título con el plugin  *****  -->
            </p>
        </h2>
        
        <img 
            class="header__logo-javascript" 
            src="/cursos/typescript-completa-guia-manual-de-mano/assets/logos/javascript-logo.svg"
            alt="Logo JavaScript"
        >
        
    </header>

    <div class="footer__separator"> </div>

    <main class="footer__main">

        <ul class="footer__list">
            <h2 class="footer__list-title"> 1. Bases - Introduccion </h2>
            <li class="footer__item"> <a href="./01-proyecto1/" target="_blank"> 1. Inferir Tipos </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 2. Bases - Tipos de Datos </h2>
            <li class="footer__item"> <a href="./01-proyecto1/" target="_blank"> 1. Booleans </a> </li>
            <li class="footer__item"> <a href="./01-proyecto1/" target="_blank"> 2. Numbers </a> </li>
            <li class="footer__item"> <a href="./01-proyecto1/" target="_blank"> 3. String </a> </li>
            <li class="footer__item"> <a href="./01-proyecto1/" target="_blank"> 4. Any </a> </li>
            <li class="footer__item"> <a href="./01-proyecto1/" target="_blank"> 5. Arrays </a> </li>
        </ul>

    </main>

</footer>