/*
    ------------------------------------------------------------------------
    ----------  /udemy.antonydev.tech/  ------------------------------------
    ----------  /cursos/  --------------------------------------------------
    ----------  /typescript-completa-guia-manual-de-mano/  -----------------
    ----------  /src/styles/01-bases-de-typescript/03-funciones/  ----------
    ----------  /04-args-default.css  --------------------------------------
    ------------------------------------------------------------------------
*/


.main__hero {
    width: 100%;
    max-width: 120rem;
    aspect-ratio: 16/9;
    background-image: url('/cursos/typescript-completa-guia-manual-de-mano/assets/img/01-bases-de-typescript/03-funciones//04-args-default.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

